.message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message__container {
  width: 45%;
}

.message__message {
  background-color: rgba($color: black, $alpha: 0.15);
  border-radius: 5px;
  color: $dark-green;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 8px 12px;
  width: 100%;
}

.mine {
  align-self: flex-end;

  .message__message {
    background-color: $green;
    color: $white;
  }
}
