*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
button,
input {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  width: 100vw;
  height: 100%;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  min-width: 200px;
  padding: 6px 0;
  outline: none;
  -webkit-transition: border-color 0.25s ease-in;
  transition: border-color 0.25s ease-in;
}

.input:focus {
  border-color: #52b788;
}

.btn:disabled {
  background-color: rgba(128, 128, 128, 0.75);
  color: #bfbfbf;
  cursor: default;
}

.btn:disabled:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  padding: 8px 12px;
}

.btn > i {
  margin-right: 6px;
}

.btn-full {
  width: 100%;
}

.btn-primary {
  background-color: #52b788;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #3f976e;
}

.btn-light {
  color: #081c15;
  background-color: #d8f3dc;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.btn-light:hover {
  background-color: white;
}

.btn-outline-light {
  color: #d8f3dc;
  border: 1px solid #d8f3dc;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.btn-outline-light:hover {
  background-color: rgba(216, 243, 220, 0.35);
}

.auth {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d6a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.auth > h1 {
  color: #d8f3dc;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.auth__form-container {
  color: #d8f3dc;
  background-color: #081c15;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 260px;
  padding: 1.5rem;
}

.auth__form-container > h2 {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
}

a {
  margin-top: 12px;
  color: #52b788;
  font-size: 14px;
  font-weight: 300;
}

.home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.loading__bg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #081c15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@-webkit-keyframes ldio-s0frduhmgc {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
            animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
            transform: translate(0, 108px);
    -webkit-animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
            animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes ldio-s0frduhmgc {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
            animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
            transform: translate(0, 108px);
    -webkit-animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
            animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.ldio-s0frduhmgc div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #52b788;
  left: 74px;
  top: 20px;
  -webkit-animation: ldio-s0frduhmgc 1s linear infinite;
          animation: ldio-s0frduhmgc 1s linear infinite;
}

.loadingio-spinner-ball-ruycugzppz {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-s0frduhmgc {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-s0frduhmgc div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */
.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d6a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  width: 100%;
}

.navbar > h1 {
  color: #d8f3dc;
  font-size: 24px;
  font-weight: 500;
}

.btn-logout {
  margin: 0;
}

.sidebar {
  background-color: #081c15;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  width: 240px;
}

.sidebar__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2d6a4f;
  color: #d8f3dc !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  padding: 0 12px 12px;
}

.sidebar__header-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(216, 243, 220, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  gap: 8px;
}

.sidebar__header-form > input {
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  min-width: 0;
}

.sidebar__header-form > input::-webkit-input-placeholder {
  color: rgba(216, 243, 220, 0.5);
}

.sidebar__header-form > input:-ms-input-placeholder {
  color: rgba(216, 243, 220, 0.5);
}

.sidebar__header-form > input::-ms-input-placeholder {
  color: rgba(216, 243, 220, 0.5);
}

.sidebar__header-form > input::placeholder {
  color: rgba(216, 243, 220, 0.5);
}

.sidebar__header-add {
  cursor: pointer;
}

.sidebar__list {
  height: 100%;
  padding: 12px 12px 0;
  width: 100%;
  overflow-y: scroll;
}

.friend-card {
  border-radius: 5px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.friend-card:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.25);
}

.friend-card h3 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  min-width: 0;
}

.friend-card p {
  color: grey;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  min-width: 0;
}

.friend-card img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
}

.friend-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friend-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.online {
  background-color: #081c15;
  border-radius: 100%;
  bottom: 0;
  height: 16px;
  position: absolute;
  right: 0;
  width: 16px;
}

.online::before {
  background-color: #00ff00;
  border-radius: 100%;
  display: block;
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
}
/*# sourceMappingURL=styles.css.map */